{% extends 'inc/base.html' %}
{% load static %}

{% block content %}
<div class="row pl-3">
    <div class="new-questions-header">
        <h2>Settings:</h2>
    </div>
    <div class="new-questions-header">
        <h2 class="header-nickname">Dr.Pepper</h2>
    </div>
</div>
<div class="row"></div>
<form class="enter-new-question">
    <div class="form-group row">
        <label for="inputLogin" class="col-sm-2 col-form-label">Login</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputLogin" placeholder="dr_pepper" value="dr_pepper">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="inputEmail" placeholder="dr.pepper@mail.ru" value="dr.pepper@mail.ru">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputNickname" class="col-sm-2 col-form-label">Nickname</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputNickname" placeholder="Dr.Pepper" value="Dr.Pepper">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Upload avatar</label>
        <div class="col-sm-10">
            <img class = "question-img" src ="{% static 'img/user.png' %}" width = 125px height = 125px>
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="inputFile">
                <label class="custom-file-label mt-2" for="inputFile">Choose avatar...</label>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>
</form>
{% endblock content %}