<div class="row mt-2">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if questions.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ questions.previous_page_number }}">Previous</a></li>
            {% endif %}
            {% for num in questions.paginator.page_range %}
                {% if num == questions.number %}
                    <li class="page-item active"><a class="page-link">{{ num }}<span class="sr-only">(current)</span></a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ num }}"> {{ num }}</a>
                {% endif %}
            {% endfor %}
            {% if questions.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ questions.next_page_number }}">Next</a></li>
            {% endif %}
        </ul>
    </nav>
</div>